.modal {
z-index:99999 !important;
padding:0px !important;
}

.modal-open {
padding:0px !important;
}

.modal-content {
padding: 20px;
background: rgba(255, 255, 255, 0.9);
}

.modal-header {
border:none !important;
}

.modal-title {
color: #5D5D5D;
font-size: 13px !important;
margin-top: 6px;
width:90% !important;
}

.modal-body textarea, 
.modal-body input[type="password"], 
.modal-body input[type="text"],
.modal-body input[type="number"] {
float:left;
width:100%;
font-size:12px;
color:#52703D;
font-family: 'Antenna', Arial !important;
padding:7px 0px;
border:none;
border-bottom:1px solid #d6d6d6;
margin-bottom:7px;
background:none;
}

.modal-body textarea::placeholder,
.modal-body input[type="password"]::placeholder,
.modal-body input[type="number"]::placeholder,
.modal-body input[type="text"]::placeholder {
color:#52703D;	
}

.modal-body form div {
width:100%;
float:left;	
text-align:center;
}

.modal-body input[type="submit"],
.modal-body input[type="button"] {
font-family: 'Antenna', Arial;
font-size:15px;
font-weight:bold;
background:none;
color:#52703D;	
padding:8px 15px;
border:2px solid #d5dbcf;
text-transform:uppercase;
margin-top:5px;
cursor:pointer;
}

.modal-body input[type="submit"]:hover,
.modal-body input[type="button"]:hover {
background:#52703D;
color:#ffffff;	
}

.modal-header .close {
padding: 8px;
margin: 0px;
border: 2px solid #d5dbcf;
font-size: 12px;
color: #52703D;
font-weight: bold;
opacity:1;
}

.modal-header .close span {
color: #52703D;
opacity:1;
}

.modal-body label {
float:left !important;
width:100% !important;
margin-bottom: 0px !important;
}